<tr class="bot-container">
    <td><a href='javascript:void(0)' class='ip-address'> <%- model.get('machine').ip %> </a></td>
    <td><%- model.get('machine').password %></td>
    <td>
        <% if(fileStats[BH.sharedHelpers.fileHelpers.types.SPAM] > 0) { %>
        <% if(model.get('job') === BH.sharedHelpers.botHelpers.jobTypes.SPAM) { %>
        <button type="button" class="btn btn-xs btn-danger bot-stop-job">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <% } else { %>
        <button type="button" class="btn btn-xs btn-success bot-start-job"
                job="<%- BH.sharedHelpers.botHelpers.jobTypes.SPAM %>">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        <% } %>
        <% } %>
        <%- fileStats[BH.sharedHelpers.fileHelpers.types.SPAM] === 0 ? "N/A" : 'Lvl. ' + fileStats[BH.sharedHelpers.fileHelpers.types.SPAM] %>
    </td>
    <td>
        <% if(fileStats[BH.sharedHelpers.fileHelpers.types.WAREZ] > 0) { %>
        <% if(model.get('job') === BH.sharedHelpers.botHelpers.jobTypes.WAREZ) { %>
        <button type="button" class="btn btn-xs btn-danger bot-stop-job">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <% } else { %>
        <button type="button" class="btn btn-xs btn-success bot-start-job"
                job="<%- BH.sharedHelpers.botHelpers.jobTypes.WAREZ %>">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        <% } %>
        <% } %>
        <%- fileStats[BH.sharedHelpers.fileHelpers.types.WAREZ] == 0 ? "N/A" : 'Lvl. ' + fileStats[BH.sharedHelpers.fileHelpers.types.WAREZ] %>
    </td>
    <td>
        <% if(fileStats[BH.sharedHelpers.fileHelpers.types.MINER] > 0) { %>
        <% if(model.get('job') === BH.sharedHelpers.botHelpers.jobTypes.MINER) { %>
        <button type="button" class="btn btn-xs btn-danger bot-stop-job">
            <span class="glyphicon glyphicon-stop"></span>
        </button>
        <% } else { %>
        <button type="button" class="btn btn-xs btn-success bot-start-job"
                job="<%- BH.sharedHelpers.botHelpers.jobTypes.MINER %>">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        <% } %>
        <% } %>
        <%- fileStats[BH.sharedHelpers.fileHelpers.types.MINER] == 0 ? "N/A" : 'Lvl. ' + fileStats[BH.sharedHelpers.fileHelpers.types.MINER] %>
    </td>
    <td>
        <%- fileStats[BH.sharedHelpers.fileHelpers.types.DDOS] == 0 ? "N/A" : 'Lvl. ' + fileStats[BH.sharedHelpers.fileHelpers.types.DDOS] %>
    </td>
    <td>
        <%= model.get('power') %>
    </td>
    <td class="bot-job-time-elapsed">
        <% if(timeElapsed) { %>
        <%= BH.helpers.viewHelpers.getDateTimeString(timeElapsed) %>
        <% } else{ %>
        Nothing Running
        <% } %>
    </td>
    <td>
        <button type="button" class="btn btn-xs btn-success bot-collect-profit">
            <span class="glyphicon glyphicon-usd"></span>
        </button>
        <span>
            <span class="bot-job-profit">
            <%= BH.sharedHelpers.formatCurrency(BH.sharedHelpers.botHelpers.getProfit(model.attributes)) %>
            </span>
            <% if(model.get('profitPerTick') > 0) { %>

            <span class="text-success bot-job-profit-per-tick">(<%= BH.sharedHelpers.formatCurrency(model.get('profitPerTick'), 3) %>
                / 5s)</span>

            <% } %>
        </span>
    </td>
    <td>
        <button type="button" class="btn btn-sm btn-success bot-login">
            <span class="glyphicon glyphicon-log-in"></span>
        </button>
        <button type="button" class="btn btn-sm btn-danger bot-remove">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>