<div id="machineInfoInner" class="col-content-box elevation-2">

    <h4>Machine Info</h4>
    <hr>

    <div class="row">

        <div class="col-xs-8 col-sm-8 col-lg-9">
            <label class="text-info">IP Address:</label>
            <span><%= model.get('machine').ip %></span>
        </div>
        <% if (model.get('isOwner')) { %>
        <div class="col-xs-4 col-sm-4 col-lg-3 text-right">
            <% if (model.canRefreshIP()) { %>
            <button type="button" id="ipRefreshButton" class="btn btn-primary">Refresh</button>
            <% } else { %>
            <span class="ip-refresh-countdown countdown text-danger"></span>
            <% } %>
        </div>
        <% } %>
    </div>

    <div class="row">
        <div class="col-xs-8 col-sm-8 col-lg-9">
            <label class="text-info">Machine Password:</label>
            <span id="machinePassword">******</span><a id="toggleMachinePassword" href="javascript:void(0)">Show</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-lg-3 text-right">
            <% if (model.get('isOwner')) { %>
            <% if (model.canResetPassword()) { %>
            <button type="button" id="passwordResetButton" class="btn btn-primary">Reset</button>
            <% } else { %>
            <span class="password-reset-countdown countdown text-danger"></span>
            <% } %>
            <% } %>
        </div>
    </div>
    <% if(model.get('machine').cpu && model.get('machine').gpu && model.get('machine').hdd && model.get('machine').internet) { %>

    <div class="row">

        <div class="col-xs-8 col-sm-8 col-lg-9">
            <label class="text-info">CPU:</label>
            <span><%= model.getCPUName() %></span>
        </div>
        <% if (model.get('isOwner')) { %>
        <div class="col-xs-4 col-sm-4 col-lg-3 text-right">
            <button type="button" id="cpuUpgradeButton" class="btn btn-primary"
                    data-target="#cpuUpgradeModal">Upgrade
            </button>
        </div>
        <% } %>

        </div>
    <div class="row">

        <div class="col-xs-8 col-sm-8 col-lg-9">
            <label class="text-info">GPU:</label>
            <span><%= model.getGPUName() %></span>
        </div>
        <% if (model.get('isOwner')) { %>
        <div class="col-xs-4 col-sm-4 col-lg-3 text-right">
            <button type="button" id="gpuUpgradeButton" class="btn btn-primary"
                    data-target="#gpuUpgradeModal">Upgrade
            </button>
        </div>
        <% } %>

        </div>
    <div class="row">

        <div class="col-xs-8 col-sm-8 col-lg-9">
            <label class="text-info">Hard Drive:</label>
            <span><%= model.getHDDName() %></span>
        </div>
        <% if (model.get('isOwner')) { %>
        <div class="col-xs-4 col-sm-4 col-lg-3 text-right">
            <button type="button" id="hddUpgradeButton" class="btn btn-primary" data-toggle="modal"
                    data-target="#hddUpgradeModal">Upgrade
            </button>
        </div>
        <% } %>

        </div>
    <div class="row">

        <div class="col-xs-8 col-sm-8 col-lg-9">
            <label class="text-info">External Hard Drive:</label>
            <span><%= model.getExternalHDDName() %></span>
        </div>
        <% if (model.get('isOwner')) { %>
        <div class="col-xs-4 col-sm-4 col-lg-3 text-right">
            <button type="button" id="externalHDDUpgradeButton" class="btn btn-primary" data-toggle="modal"
                    data-target="#externalHDDUpgradeModal">Upgrade
            </button>
        </div>
        <% } %>

        </div>
    <div class="row">

        <div class="col-xs-8 col-sm-8 col-lg-9">
            <label class="text-info">Internet Speed:</label>
            <span><%= model.getInternetName() %></span>
        </div>
        <% if (model.get('isOwner')) { %>
        <div class="col-xs-4 col-sm-4 col-lg-3 text-right">
            <button type="button" id="internetUpgradeButton" class="btn btn-primary" data-toggle="modal"
                    data-target="#internetUpgradeModal">Upgrade
            </button>
        </div>
        <% } %>

        </div>

    <% } else{ %>

    <div class="alert alert-info" role="alert">You haven't analyzed this machine's hardware yet.</div>

    <% if(BH.app.localMachine && BH.sharedHelpers.fileHelpers.getFileStats(BH.app.localMachine.get('machine').files)[BH.sharedHelpers.fileHelpers.types.ANALYZER] > 0) { %>

    <button type="button" class="btn btn-primary machine-analyze">Analyze Hardware</button>

    <% } %>

    <% } %>

</div>