<div id="machineInfoContainer" class="col-content-box">

    <h4>Machine Info</h4>
    <hr>

    <div class="row">

        <div class="col-xs-9 col-sm-8 col-lg-9">
            <label class="text-info">IP Address:</label>
            <span id="machineIP"><%= machine.ip %></span>
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-3 text-right">
            <% if (machine.canRefreshIP()) { %>
            <button type="button" id="ipRefreshButton" class="btn btn-success">Refresh</button>
            <span style="display:none;" id="ipRefreshDate" class="text-danger"></span>
            <% } else { %>
            <button style="display:none;" id="ipRefreshButton" type="button" class="btn btn-success">Refresh</button>
            <span class="text-danger "><%= machine.getNextIPRefreshDateString() %></span>
            <% } %>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-9 col-sm-8 col-lg-9">
            <label class="text-info">CPU:</label>
            <span id="machineCPU"><%= machine.cpu.getName() %></span>
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-3 text-right">
            <button type="button" id="cpuUpgradeButton" class="btn btn-primary" data-toggle="modal"
                    data-target="#cpuUpgradeModal">
                Upgrade
            </button>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-9 col-sm-8 col-lg-9">
            <label class="text-info">Hard Drive:</label>
            <span id="machineHDD"><%= machine.hdd.getName() %></span>
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-3 text-right">
            <button type="button" id="hddUpgradeButton" class="btn btn-primary" data-toggle="modal"
                    data-target="#hddUpgradeModal">
                Upgrade
            </button>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-9 col-sm-8 col-lg-9">
            <label class="text-info">Internet:</label>
            <span id="machineInternet"><%= machine.internet.getName() %></span>
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-3 text-right">
            <button type="button" id="internetUpgradeButton" class="btn btn-primary" data-toggle="modal"
                    data-target="#internetUpgradeModal">Upgrade
            </button>
        </div>

    </div>

</div>