<div class="modal-dialog">

    <!-- Modal content-->
    <div id="internetUpgradeRender" class="modal-content">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upgrade Internet</h4>
            </div>
            <div id="internetUpgradeContainer" class="modal-body">
                <div class="table-responsive">
                    <table id="internetUpgradeTable" class="table data-table">
                        <thead>
                        <tr>
                            <th>Download Speed (MB/s)</th>
                            <th>Upload Speed (MB/s)</th>
                            <th>Cost</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0 ; i < internets.models.length ; i++){ %>
                        <tr>
                            <td><%- internets.models[i].get('downSpeed') %></td>
                            <td><%- internets.models[i].get('upSpeed') %></td>
                            <td><%- BH.sharedHelpers.internetHelpers.getInternetCostDisplay(internets.models[i].attributes) %></td>
                            <td class="text-center">
                                <% if(BH.sharedHelpers.internetHelpers.getInternetModifier(internets.models[i].attributes) < BH.sharedHelpers.internetHelpers.getInternetModifier(model.get('machine').internet)){ %>
                                <span class="text-warning text-owned">Downgrade</span>
                                <% } else if(internets.models[i].get('id') === model.get('machine').internet._id){ %>
                                <span class="text-info text-owned">Owned</span>
                                <button style="display:none;" type="button" class="btn btn-success buyButton"
                                        _id="<%- internets.models[i].get('_id') %>">
                                    Buy
                                </button>
                                <% } else { %>
                                <span style="display:none;" class="text-info text-owned">Owned</span>
                                <button type="button" class="btn btn-success buyButton"
                                        amount="<%- BH.sharedHelpers.internetHelpers.getInternetCost(internets.models[i].attributes) %>"
                                        _id="<%- internets.models[i].get('_id') %>">
                                    Buy
                                </button>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>