<div id="internetContent" class="internet-dom">
    <% if(model.get('machine')._id) { %>
    <% if(path == '/login') { %>
    <div class="internet-browser-login-container internet-dom">
        <div class="white-centered-box elevation-2 col-lg-4 col-lg-offset-4">
            <h3 class="text-info">Admin Login
                <small>
                    <% if(model.get('machine').bank) { %>
                    <%= model.get('machine').bank.name %>
                    <% } else { %>
                    <%= model.get('machine').ip %>
                    <% } %>
                </small>
            </h3>
            <% if(model.get('isAuthenticated') === false) { %>

            <div class="alert alert-danger">Incorrect password</div>

            <% } %>
            <div class="internet-browser-login-inner">
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" autocomplete="new-password" class="form-control admin-login-password"
                           name="password">
                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-success btn-block admin-login-button">Login</button>
                    <hr/>
                    <% if(crackInProgress) { %>
                    <button type="button" class="btn btn-block admin-crack-password disabled">Crack in progress...
                    </button>
                    <% } else if(localFileStats[BH.sharedHelpers.fileHelpers.types.FIREWALL] < model.get('firewall')) { %>
                    <div class="alert alert-danger">Can't crack this machine's password, your firewall bypasser level is
                        too low.
                    </div>
                    <% } else if(localFileStats[BH.sharedHelpers.fileHelpers.types.PASSWORD_CRACKER] < 1) { %>
                    <div class="alert alert-danger">Can't crack this machine's password, you don't have a password
                        cracker.
                    </div>
                    <% } else { %>
                    <button type="button" class="btn btn-danger btn-block admin-crack-password">Crack Password</button>
                    <% } %>
                </div>
            </div>
                </div>
            </div>
    <% } else if(path == '/admin') { %>

    <div class="container internet-admin-container col-sm-12 col-lg-12"></div>
    <div class="clr"></div>

    <% } else { %>

    <% if(path != '/account') { %>
    <div>
        <button type="button" class="navigate-admin-login btn btn-success">Admin Login</button>
        <div class="clr"></div>
    </div>
    <% } %>

    <% if(model.get('machine').bank) { %>
    <% if(path == '/account') { %>

    <div class="bank-account-container internet-dom"></div>
    <div class="clr"></div>

    <% } else if(!path || path.replace('/', '').length == 0) { %>
    <div class="internet-browser-login-container internet-dom">
        <div class="white-centered-box elevation-2 col-lg-4 col-lg-offset-4">
            <h3 class="text-primary">Account Login
                <small><%= model.get('machine').bank.name %></small>
            </h3>
            <% if(model.get('activeAccount') && model.get('activeAccount').get('isAuthenticated') === false) { %>

            <div class="alert alert-danger">Incorrect account number or password</div>

            <% } %>
            <div class="internet-browser-login-inner">
                <div class="form-group">
                    <label>Account Number:</label>
                    <input type="text" class="form-control bank-account-number" name="accountNumber">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" autocomplete="new-password" class="form-control bank-account-password"
                           name="password">
                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-success btn-block bank-login-button">Login</button>
                    <hr/>
                    <button type="button" class="btn btn-info btn-block create-bank-account-button">Create Account -
                        <% if(model.get('machine').bank.accountCost > 0) { %>
                        <%= BH.sharedHelpers.formatCurrencyNoDecimals(model.get('machine').bank.accountCost) %>
                        <% } else { %>
                        Free
                        <% } %>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <% } else { %>

    <div class="panel panel-danger internet-browser-error">
        <div class="panel-heading bold">Error 404</div>
        <div class="panel-body">No resource exists at <%= search %></div>
    </div>

    <% } %>

    <% } else if(path && path.replace('/', '').length > 0) { %>

    <div class=" internet-browser-error elevation-2">
        <div>
            <h2>Under construction - this will show custom paths eventually</h2>
        </div>
    </div>

    <% } else { %>

    <div class="internet-browser-user-default">
        user default
    </div>

    <% } %>
    <% } %>
    <% } else { %>

    <div class="panel panel-danger internet-browser-error">
        <div class="panel-heading bold">Error 404</div>
        <div class="panel-body">No resource exists at <%= search %></div>
    </div>

    <% } %>
</div>